:root {
  --backgroundColor: #e0e8ec;
  --headerBackground: #021b39;
  --headerContrast: #2a6ce8;
  --fontColor: var(--headerBackground);
  --headerFont: var(--headerBackground);
  --navFont: var(--headerContrast);
  --heroContrast: var(--headerContrast);
  --cardContrast: var(--headerContrast);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--backgroundColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--headerBackground);
  color: var(--headerFont);
}

header h1 {
  display: flex;
  flex-direction: row;
  background-color: var(--headerContrast);
  justify-content: center;
  font-size: 30px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--headerBackground);
  font-size: 25px;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

header a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  margin: 0.5em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border-bottom: 2.5px solid var(--navFont);
  color: var(--navFont);
}

.heroBanner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  background-image: url(../images/html.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  padding-right: 3em;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

#me {
  background-image: url(../images/Avatar.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 250px;
}

.heroBanner h2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--heroContrast);
  font-size: 25px;
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
}

#about {
  display: flex;
  flex-direction: column;
  padding: 1em;
  color: var(--fontColor);
}

#about h2 {
  display: flex;
  border-bottom: 2.5px solid var(--headerContrast);
  justify-content: center;
  align-items: flex-end;
  font-size: 30px;
  padding: 1em;
}

#about div {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

#about p {
  padding: 1em;
}

#work {
  display: flex;
  flex-direction: column;
  padding: 1em;
  color: var(--fontColor);
}

#work h2 {
  display: flex;
  border-bottom: 2.5px solid var(--headerContrast);
  justify-content: center;
  font-size: 30px;
  padding: 1em;
}

.workSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1.5em;
}

.flexCard {
  display: flex;
  align-items: flex-end;
  flex-basis: 100%;
  margin: .5em;
  min-height: 300px;
  color: var(--fontColor);
  text-decoration: none;
  border: 5px solid var(--cardContrast);
}

.flexCard div {
  background-color: var(--cardContrast);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0.5em;
  border-radius: 15px;
}

.flexCard {
  border-radius: 25px;
  transition: all 0.5s ease-in-out:
}

.flexCard:hover {
  box-shadow: inset 0px 0px 10px rgb(102, 160, 236), 0 0 15px rgba(102, 160, 236, 1);
}

.flexCard h3 {
  font-size: 20px;
}

.flexCard p {
  font-size: 15px;
}

.project1 {
  background-image: url(../images/html.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project2 {
  background-image: url(../images/html.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project3 {
  background-image: url(../images/html.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project4 {
  background-image: url(../images/html.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project5 {
  background-image: url(../images/html.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#contact {
  display: flex;
  flex-direction: column;
  padding: 1em;
  color: var(--fontColor);
}

#contact h2 {
  display: flex;
  border-bottom: 2.5px solid var(--headerContrast);
  justify-content: center;
  font-size: 30px;
  padding: 1em;
}

#contact div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
}

#phone {
  display: block;
  background-image: url(../images/phone-call.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40px;
  width: 40px;
}

#git {
  display: block;
  background-image: url(../images/github.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40px;
  width: 40px;
}

#in {
  display: block;
  background-image: url(../images/linkedin.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40px;
  width: 40px;
}

@media only screen and (min-width: 825px) {
  * {
    scroll-padding-top: 4.7em;
  }

  header {
    flex-direction: row;
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 100%;
  }
  
  header h1 {
    align-items: flex-start;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 25%;
    justify-content: flex-end;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0em;
    padding-bottom: 0em;
  }
  
  header nav {
    width: 75%;
    padding-right: 1.5em;
    justify-content: flex-end;
  }

  .heroBanner {
    margin-bottom: 0em;
    margin-top: 4.7em;
  }
  #about {
    flex-direction: row;
    margin: 1em;
  }

  #about h2 {
    border-right: 2.5px solid var(--headerContrast);
    border-bottom: none;
    min-width: 25%;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: right;
  }

  #about div {
    width: 75%;
  }

  #work {
    flex-direction: row;
    margin: 1em;
  }

  #work h2 {
    border-right: 2.5px solid var(--headerContrast);
    border-bottom: none;
    min-width: 25%;
    justify-content: flex-end;
    align-items: flex-start;
  }

  
  .flexCard {
    flex-basis: calc(50% - 1em);
    min-height: 150px;
  }
  
  .flexCard:first-child {
    min-height: 300px;
    flex-basis: 100%;
  }

  #contact {
    flex-direction: row;
    margin: 1em;
  }
  
  #contact h2 {
    border-right: 2.5px solid var(--headerContrast);
    border-bottom: none;
    min-width: 25%;
    justify-content: flex-end;
    text-align: right;
  }

  #contact div {
    min-width: 75%;
  }
}